<h1>Rails App</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consectetur tempora sint quibusdam impedit quisquam explicabo ad excepturi earum, et reiciendis ipsum maxime! Repudiandae earum voluptatem ducimus nihil odio nisi!</p>